/*  
    Estoy reescribiendo el main entero de cero para 
    pasarlo a SCSS. Es muy incómodo usar CSS 
*/

/*  Variables */
$white: #ffffff;
*,
*::before,
*::after {
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Nunito, sans-serif;
    font-size: 1.25rem;
    line-height: 1.6;
}

main {
    margin: 2em 0;
}

/*  Tipografía  */
h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Fjalla One';
}


/*  Componentes */
.container {
    width: 80%;
    max-width: 1100px;
    margin: 0 auto 3rem auto;
}

/*  Empieza .grid   */
.grid {
    display: grid;
    grid-template-columns: repeat (auto, 0.5fr);
    grid-auto-rows: repeat(100px,auto);
    grid-template-areas: 
        "i i a a a a a . ."
        "i i a a a a a . ."
        ". . . b b b b b ."
        ". . . b b b b b .";

    /*  
        El problema que tengo con la grilla es que
        no le estoy encontrando la vuelta al tamaño
        de las columnas de la .gridm sino también el 
        tamaño de .index no toma el tamaño que quiero
    */    
}

.index {
    grid-template-areas: i;
    max-width: 20vw;
}

article {
    grid-template-areas: a;
}

.highlight {
    grid-template-areas: b;
}
/*  Termina .grid   */

/*  Empieza header  */
header {
    height: 100vh;
    background-color: lightcoral;
    padding: 2em;
    /*  El flex hace que .main__title quede abajo del
        viewport  */
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    

    h1, h3 {
        background-color: $white;
        display: inline;
        padding: .3em .6em;
        margin: 0.3em 0;
    }

    h1 {
        font-size: 2rem;
    }

    h3 {
        font-size: 1.5rem;
    }
}

.main__title {
    display: flex;
    flex-direction: column;
    /*  Hace que los flex items tenga content width */
    align-items: flex-start; 
    justify-items: flex-end;
}

/*  Termina header  */


.highlight {
    font-size: 2rem
}