@charset "UTF-8";
/*  
    Estoy reescribiendo el main entero de cero para 
    pasarlo a SCSS. Es muy incómodo usar CSS 
*/
/*  Variables */
*,
*::before,
*::after {
  -webkit-box-sizing: inherit;
          box-sizing: inherit;
}

html {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  font-family: Nunito, sans-serif;
  font-size: 1.25rem;
  line-height: 1.6;
}

main {
  margin: 2em 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-preferred-size: 0;
      flex-basis: 0;
  -ms-flex-line-pack: justify;
      align-content: space-between;
}

.container {
  width: 65%;
  max-width: 1000px;
  margin: 0 auto;
}

.index {
  width: 20%;
}

/*  Tipografía  */
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'Fjalla One';
}

/*  COMPONENTES  */
/*  Empieza .grid   */
/*
.grid {
    display: grid;
    grid-template-columns: repeat (auto, 0.5fr);
    grid-auto-rows: repeat(100px,auto);
    /*  grid-template-areas: 
        ". i i . a a a a . ."
        ". i i . a a a a . ."
        ". . . . b b b b b ."
        ". . . . b b b b b .";       

    /*  
        El problema que tengo con la grilla es que
        no le estoy encontrando la vuelta al tamaño
        de las columnas de la .gridm sino también el 
        tamaño de .index no toma el tamaño que quiero
    
}                                         
/*
.index {
    grid-template-areas: i;
}

article {
    grid-template-areas: a;
}

.highlight {
    grid-template-areas: b;
}*/
/*  Termina .grid   */
/*  Empieza header  */
header {
  height: 100vh;
  background-color: lightcoral;
  padding: 2em;
  /*  El flex hace que .main__title quede abajo del
        viewport  */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

header h1, header h3 {
  background-color: #0A0F0D;
  color: #ffffff;
  display: inline;
  padding: .3em .6em;
  margin: 0.3em 0;
}

header h1 {
  font-size: 2rem;
}

header h3 {
  font-size: 1.5rem;
}

.main__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  /*  Hace que los flex items tenga content width */
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  justify-items: flex-end;
  max-width: 50vw;
}

#lean_ux {
  background-image: url(../img/headers/leanux5.jpg);
  max-width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

/*  Termina header  */
/*  Empieza article */
article {
  margin-bottom: 2rem;
}

/*  Termina article */
/*  Empieza index   */
.index {
  background-color: #E0E1DD;
  padding: .8rem 1rem .8rem 0;
  margin: 0 auto;
}

.index__title {
  font-size: 1.3rem;
  margin-top: 0;
}

.index__nav {
  padding-left: 0;
  list-style-position: inside;
}

.index__nav2 {
  padding-left: 0.2rem;
  list-style-position: inside;
}

.index__link {
  font-size: 1rem;
}

.index__link--back {
  font-size: 1.25rem;
  margin: 3rem 0;
  text-transform: uppercase;
  text-decoration: none;
  font-weight: 700;
  font-family: 'Fjalla One', sans-serif;
  width: 100%;
  background-color: #0A0F0D;
  color: #ffffff;
  padding: .75rem 1.5rem;
  text-align: center;
}

/*  Termina index   */
.highlight {
  font-size: 2rem;
}
/*# sourceMappingURL=main2.css.map */